.jq_skywheel li{
    display: block;
    width: 100px;
    height: 40px;
    background-color: #777;
    position:absolute;
    transition: 0.3s ease all;
}

.jq_skywheel .nclose2{
        z-index: 0;
    background-color: #BBB;
    -webkit-transform: scale(0.8) translate(0px,-60px);
    -moz-transform: scale(0.8) translate(0px,-60px);
    
}
.jq_skywheel .nclose1{
        z-index: 1;
    background-color:#999;
    -moz-transform: scale(1.0) translate(0px,-30px);
    -webkit-transform: scale(1.0) translate(0px,-30px);
    
    
}
.jq_skywheel .close1{
        z-index: 1;
    background-color:#999;
    -moz-transform: scale(1.0) translate(0px,30px);
    -webkit-transform: scale(1.0) translate(0px,30px);
    
}
.jq_skywheel .close2{
        z-index: 0;
    background-color:#BBB;
    -moz-transform: scale(0.8) translate(0px,60px);
    -webkit-transform: scale(0.8) translate(0px,60px);
    
}
.jq_skywheel .center{
        z-index: 2;
        background-color:#777;
        -webkit-transform:scale(1.2) translate(0px,0px);
        -moz-transform: scale(1.2) translate(0px,0px);
        
        
    }
.jq_skywheel .chosen{
        z-index: 1;
    }